.col-xs-12.col-sm-6
  h3 Voting:
  - if (vote.voters.length > 0) {
    table.table
      thead
        tr
          th Name
          th.hidden-xs Email
          th= vote.company.get('result') ? 'Vote' : 'Status'
          - if (current_user.get('isOp') && vote.company.get('isVotingOpen')) { 
            th Action
          - }
      tbody
        - vote.voters.forEach(function(partner) {
        tr
          td
            a(href='partners/#{partner.id}') #{partner.get('name')}
          td.hidden-xs #{partner.get('email')}
          td
            - if (vote.company.get('result')) {
              span.vote-status.label(class="#{partner.get('vote').get('mark') >= 6 ? 'label-success' : 'label-danger'}")= partner.get('vote').get('mark')
            - } else {
              - if (typeof partner.get('vote').get('mark') === 'undefined') {
                span.vote-status.label.label-default Pending
              - } else {
                span.vote-status.label.label-primary Voted
              - }
            - }
          - if (current_user.get('isOp') && vote.company.get('isVotingOpen')) { 
            td
              form(method='post', action='/votes/#{vote.company.id}/voters/')
                input(type='hidden', name='action', value='revoke')
                input(type='hidden', name='partnerIds[]', value='#{partner.id}')
                input.btn.btn-default(type='submit', value='Revoke')
          - }
        - })
  - } else {
  div No partners have been invited to vote
  - }

.col-xs-12.col-sm-6
  h3 Not voting:
  
  - if (vote.absents.length > 0) {
  table.table
    thead
      tr
        th Name
        th.hidden-xs Email
        - if (current_user.get('isOp') && vote.company.get('isVotingOpen')) { 
        th Action
        - }
    tbody
      - vote.absents.forEach(function(partner) {
      tr
        td
          a(href='partners/#{partner.id}')= partner.get('name')
        td.hidden-xs= partner.get('email')
        - if (current_user.get('isOp') && vote.company.get('isVotingOpen') && !partner.get('isArchived')) { 
          td
            form(method='post', action='/votes/#{vote.company.id}/voters/')
              input(type='hidden', name='action', value='invite')
              input(type='hidden', name='partnerIds[]', value='#{partner.id}')
              input.btn.btn-default(type='submit', value='Invite')
        - }
      - })
  - } else {
    div No absent partners
  -}