table.table
  thead
    tr
      th #
      th Company Name
      th Result
      th Voted On
  tbody
  - companies.forEach(function(company, index) {
    tr
      th(scope='row') #{index + 1}
      td
        a(href='/companies/' + company.id) #{company.get('name')}
      - if (company.get('result')) {
      td: span.vote-status.label(class="label-#{company.get('result') >= 8 ? 'success' : 'danger'}") #{company.get('result') >= 8 ? 'Passed' : 'Failed'}: #{company.get('result')} 
      - } else if (company.get('isVotingOpen')) {
      td: span.vote-status.label.label-primary Pending
      - } else {
      td: span.vote-status.label.label-default Cancelled
      - }
      td #{formatTime(company.get('updatedAt'))}
  - })